src/flows/df15_demo_2_working-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Current_Opportunity_Amount_To_Running_Quota_Total</name>
        <label>Add Current Opportunity Amount To Running Quota Total</label>
        <locationX>730</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>TotalAmountOfQuotaCurrentMonth</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentOpportunityRecord.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_amount_of_quota_opportunties_for_current_month</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Current_Opportunity_Amount_To_Running_Sales_Total</name>
        <label>Add Current Opportunity Amount To Running Sales Total</label>
        <locationX>730</locationX>
        <locationY>77</locationY>
        <assignmentItems>
            <assignToReference>TotalAmountOfSalesOpportuntiesForCurrentMonth</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentOpportunityRecord.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_amount_of_sales_opportunities_that_have_closed_this_month</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Finish_Location_To_Sales_Manager</name>
        <label>Change Finish Location To Sales Manager</label>
        <locationX>525</locationX>
        <locationY>562</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_FinishLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/01Z50000000wdYS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alert_Message_Sales_Are_Lower_Than_Quota_For_Current_Month</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Quota_Amount_Total_Greater_Than_Sales_Amount_Total_For_Current_Month</name>
        <label>Is Quota Amount Total Greater Than Sales Amount Total For Current Month</label>
        <locationX>265</locationX>
        <locationY>407</locationY>
        <defaultConnector>
            <targetReference>Finish_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sales Amount Is Greater Than Quota For Current Month</defaultConnectorLabel>
        <rules>
            <name>Quota_Is_Greater_Than_Sales_Amount_For_Current_Month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalAmountOfQuotaCurrentMonth</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>TotalAmountOfSalesOpportuntiesForCurrentMonth</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Finish_Location_To_Sales_Manager</targetReference>
            </connector>
            <label>Quota Is Greater Than Sales Amount For Current Month</label>
        </rules>
    </decisions>
    <formulas>
        <name>FirstDayOfCurrentMonth</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - DAY( {!$Flow.CurrentDate} ) +1</expression>
    </formulas>
    <formulas>
        <name>LastDayOfCurrentMonth</name>
        <dataType>Date</dataType>
        <expression>IF( 
MONTH( {!$Flow.CurrentDate} ) = 12, 
DATE( YEAR( {!$Flow.CurrentDate} ), 12, 31 ), 
DATE( YEAR( {!$Flow.CurrentDate} ), MONTH ( {!$Flow.CurrentDate} ) + 1, 1 ) - 1 
)</expression>
    </formulas>
    <interviewLabel>df15-demo-2-working {!$Flow.CurrentDateTime}</interviewLabel>
    <label>df15-demo-2-working</label>
    <loops>
        <name>Total_amount_of_quota_opportunties_for_current_month</name>
        <label>Total amount of quota opportunties for current month</label>
        <locationX>473</locationX>
        <locationY>223</locationY>
        <assignNextValueToReference>CurrentOpportunityRecord</assignNextValueToReference>
        <collectionReference>OpportunityCollectionQuotaCurrentMonth</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Current_Opportunity_Amount_To_Running_Quota_Total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Quota_Amount_Total_Greater_Than_Sales_Amount_Total_For_Current_Month</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Total_amount_of_sales_opportunities_that_have_closed_this_month</name>
        <label>Total amount of sales opportunities that have closed this month</label>
        <locationX>481</locationX>
        <locationY>74</locationY>
        <assignNextValueToReference>CurrentOpportunityRecord</assignNextValueToReference>
        <collectionReference>OpportunityCollectionClosedCurrentMonth</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Current_Opportunity_Amount_To_Running_Sales_Total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Total_amount_of_quota_opportunties_for_current_month</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Quota_opportunities_for_current_month</name>
        <label>Lookup Quota opportunities for current month</label>
        <locationX>247</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Total_amount_of_sales_opportunities_that_have_closed_this_month</targetReference>
        </connector>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>FirstDayOfCurrentMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>LastDayOfCurrentMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quota</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpportunityCollectionQuotaCurrentMonth</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_sales_opportunities_closed_for_current_month</name>
        <label>Lookup sales opportunities closed for current month</label>
        <locationX>73</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Quota_opportunities_for_current_month</targetReference>
        </connector>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>FirstDayOfCurrentMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>LastDayOfCurrentMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpportunityCollectionClosedCurrentMonth</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount</queriedFields>
    </recordLookups>
    <screens>
        <name>Alert_Message_Sales_Are_Lower_Than_Quota_For_Current_Month</name>
        <label>Alert Message - Sales Are Lower Than Quota For Current Month</label>
        <locationX>519</locationX>
        <locationY>664</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlertScreenParagraph01</name>
            <fieldText>The sales are lower than quota for this month.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>115</locationX>
        <locationY>526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishScreenParagraph01</name>
            <fieldText>This is the finish screen!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Lookup_sales_opportunities_closed_for_current_month</startElementReference>
    <variables>
        <name>CurrentOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>LoginFlow_FinishLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityCollectionClosedCurrentMonth</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityCollectionQuotaCurrentMonth</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>TotalAmountOfQuotaCurrentMonth</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalAmountOfSalesOpportuntiesForCurrentMonth</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
